// Less mixins
.absolute(@top, @right, @bottom, @left) {
	position: absolute;
	top: @top;
	right: @right;
	bottom: @bottom;
	left: @left;
}
.transformOrigin(@x, @y) {
	-webkit-transform-origin: @x @y;
	   -moz-transform-origin: @x @y;
		-ms-transform-origin: @x @y;
			transform-origin: @x @y;
}
.transition(@property, @duration, @easing) {
	-webkit-transition: ~'-webkit-@{property} @{duration} @{easing}';
	   -moz-transition: ~'-moz-@{property} @{duration} @{easing}';
		-ms-transition: ~'-mz-@{property} @{duration} @{easing}';
			transition: ~'@{property} @{duration} @{easing}';
}
.transformRotate(@degrees) {
	-webkit-transform: rotate(@degrees);
	   -moz-transform: rotate(@degrees);
		-ms-transform: rotate(@degrees);
			transform: rotate(@degrees);
}
.animation(@animation, @duration, @timing) {
	-webkit-animation: ~'@{animation} @{duration} @{timing}';
	   -moz-animation: ~'@{animation} @{duration} @{timing}';
		-ms-animation: ~'@{animation} @{duration} @{timing}';
			animation: ~'@{animation} @{duration} @{timing}';
}
.preserve3d() {
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
			backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
			transform-style: preserve-3d;
}
.boxShadow(@x, @y, @radius, @color) {
	-webkit-box-shadow: @x @y @radius @color;
	   -moz-box-shadow: @x @y @radius @color;
		-ms-box-shadow: @x @y @radius @color;
			box-shadow: @x @y @radius @color;
}
.borderRadius(@radius) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
		-ms-border-radius: @radius;
			border-radius: @radius;
}
.arrToPadding(@arr) {
	padding: extract(@arr, 1) extract(@arr, 2) extract(@arr, 3) extract(@arr, 4);
}
.arrToAbsolute(@arr) {
	.absolute(extract(@arr, 1), extract(@arr, 2), extract(@arr, 3), extract(@arr, 4));
}
.borderBox() {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;
}
